@import "../_variable.module";

.container{
    display: grid;
    justify-content: center;
    height: $board_height;
    align-items: center;
    grid-gap: $board_gap;
    box-sizing: border-box;
    padding: $board_padding;
}

