@import "../_variable.module";

.container{
    display: grid;
    justify-content: center;
    align-items: center;
    grid-gap: $board_gap;
    box-sizing: border-box;
}

.row {
    display: flex;
    gap: $board_gap;
}