// header
$header_padding_x: 16px;

$header_padding_y: 0px;

$header_height: 51px;

//color
$header_background_color: hsl(118, 61%, 82%);
$border_color: hsl(118, 61%, 82%);

//key
$key_padding_Y: 1rem;

$key_font_size: 1rem;
$keycap_border: 0px;
$keycap_radius: 6px;
$keycap_padding_X: 1rem;
$keycap_padding_Y: 1rem;
$keycap_color: hsl(214, 9%, 84%);
$keycap_font_color: hsl(0, 0%, 0%);
$keycap_space: 6px;

//board
$board_height: 50%;
$board_gap: 5px;

//tile
$tile_color: hsl(0, 26%, 67%);
$tile_width: 4rem;
$tile_height: 4rem;
$letter_size: 20px;