// header
$header_padding_x: 1em;

$header_padding_y: 0px;

$header_height: 5em;

//color
$header_background_color: hsl(118, 61%, 82%);
$border_color: hsl(118, 61%, 82%);

//key
$keyboard_height: 1rem;

$key_font_size: 1rem;
$keycap_border: 0px;
$keycap_radius: 6px;
$keycap_padding_X: 1rem;
$keycap_padding_Y: 1rem;
$keycap_color: hsl(214, 9%, 84%);
$keycap_font_color: hsl(0, 0%, 0%);
$keycap_space: 1rem;
$keycap_min_width: 3em;


//board
$board_height: 65vh;
$board_gap: .3rem;
$board_padding: 5rem;

//tile
$tile_color: hsl(0, 1%, 81%);
$tile_width: 4rem;
$tile_height: 4rem;
$letter_size: 20px;
$empty_color: hsl(0, 3%, 63%);
$absent_color: hsl(97, 3%, 52%);
$present_color: hsl(61, 100%, 59%);
$correct_color: hsl(124, 100%, 50%);
