@import "../variable.module";

.keyboard_container{
  padding-top: 3rem;
}

.keyboard_row {
  display: flex;
  justify-content: center;
  align-items: center;
  height: $keyboard_height;
}

.keycap {
  color: $keycap_font_color;
  font-size: $key_font_size;
  background-color: $keycap_color;
  border: $keycap_border;
  border-radius: $keycap_radius;
  margin-right: $keycap_space;
  padding: $keycap_padding_X $keycap_padding_Y;
  min-width: $keycap_min_width;
  cursor: pointer;
}

.absent{
  background-color: $absent_color;
}

.correct{
  background-color: $correct_color;
}

.present{
  background-color: $present_color;
}