@import "../variable.module";

.tile {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $tile_color;
    width: $tile_width;
    height: $tile_height;
    text-transform: uppercase;
    font-size: $letter_size;
}

.empty{
    background-color: $empty_color;
}

.absent{
    background-color: $absent_color;
}

.correct{

    background-color: $correct_color;
}

.present{
    background-color: $present_color;
}

.row {
    display: flex;
    gap: $board_gap;
}