@import "../variable.module";

.tile {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $tile_color;
    width: $tile_width;
    height: $tile_height;
    text-transform: uppercase;
    font-size: $letter_size;
}

.empty{
    background-color: inherit;
}

.absent{
    background-color: rgb(16, 78, 57);
}

.correct{
    background-color: rgb(245, 255, 105);
}

.present{
    background-color: rgb(111, 111, 111);
}

.row {
    display: flex;
    gap: $board_gap;
}