._header_1o2nm_1 {
  display: flex;
  background-color: hsl(118, 61%, 82%);
  height: 5em;
  padding: 0px 1em;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid hsl(120, 43%, 5%);
}

._menu_left_1o2nm_11 {
  padding-left: 2rem;
}

._title_1o2nm_15 {
  font-size: 50px;
  font-family: "Courier New", monospace;
  font-weight: bold;
}

._menu_right_1o2nm_21 {
  padding-right: 2rem;
}._container_1jh4r_1 {
  display: grid;
  justify-content: center;
  height: 65vh;
  align-items: center;
  grid-gap: 0.3rem;
  box-sizing: border-box;
  padding: 5rem;
}._tile_3oj3u_1 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(0, 1%, 81%);
  width: 4rem;
  height: 4rem;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bold;
  border: 2px solid #121212;
}

._inject_3oj3u_14 {
  animation: _zoomInOut_3oj3u_1 0.3s ease-in-out;
}

._empty_3oj3u_18 {
  background-color: hsl(0, 3%, 63%);
}

._absent_3oj3u_22 {
  background-color: hsl(97, 3%, 52%);
  animation: _flip-diagonal-2-br_3oj3u_1 0.4s cubic-bezier(0.455, 0.03, 0.515, 0.955) alternate-reverse forwards;
}

._correct_3oj3u_27 {
  background-color: hsl(124, 100%, 50%);
  animation: _flip-diagonal-2-br_3oj3u_1 0.4s cubic-bezier(0.455, 0.03, 0.515, 0.955) alternate-reverse forwards;
}

._present_3oj3u_32 {
  background-color: hsl(61, 100%, 59%);
  animation: _flip-diagonal-2-br_3oj3u_1 0.4s cubic-bezier(0.455, 0.03, 0.515, 0.955) alternate-reverse forwards;
}

._row_3oj3u_37 {
  display: flex;
  gap: 0.3rem;
}

@keyframes _flip-diagonal-2-br_3oj3u_1 {
  0% {
    transform: rotate3d(-1, 1, 0, 0deg);
  }
  100% {
    transform: rotate3d(-1, 1, 0, 180deg);
  }
}

@keyframes _zoomInOut_3oj3u_1 {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

body, #root{
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  padding: 0;
  margin: 0;
}