@import "../_variable.module";

.header {
    display: flex;
    background-color: $header_background_color;
    height: $header_height;
    padding: $header_padding_y $header_padding_x;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid $border_color;
}


.menu_left{

}

.title{

}

.menu_right{

}
