@import "../_variable.module";

.header {
    display: flex;
    background-color: $header_background_color;
    height: $header_height;
    padding: $header_padding_y $header_padding_x;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid $header_border_color;
}


.menu_left{
    padding-left: $header_menu_padding;
}


.title{
    font-size: 50px;
    font-family: 'Courier New', monospace;
    font-weight: bold;
}

.menu_right{
    padding-right: $header_menu_padding;
}
